<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title_news | censor }}</h1>
<style>
    td {

   border: 1px solid grey;

}
</style>

            <table border="1">

                <tr>
                    <td align="left">{{ post.text_news | censor }}</td>
                </tr>

                <tr>
                    <td align="right"> Дата публикации статьи: {{ post.date_time | date:'d M Y' }}</td>
                </tr>

                <tr>
                    <td align="right"> Рейтинг: {{ post.rating_post }}</td>
                </tr>


            </table>


{% endblock content %}