<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Новости</h1>
    <h3> Количество новостей: {{ post_search | length}} </h3>

        <form action="" method="get">
            {{ filterset.form.as_p }}

            <input type="submit" value="Найти" />
        </form>

        <style>
            td {

           border: 1px solid grey;
           }
        </style>
        {% if post_search %}
            <table border="3" cellpadding="4" cellspacing="1" width="100%">

                <tr>
                    <td align="left" width="10%">Заголовок</td>
                    <td align="left" width="10%">Автор</td>
                    <td align="left" width="10%">Дата</td>
                    <td align="left" width="10%">Тип</td>
                    <td align="left" width="50%">Статья</td>
                    <td align="left" width="10%">Рейтинг статьи</td>
                </tr>

                {% for post in post_search%}
                <tr>
                    <td><a href="http://127.0.0.1:8000/publication/{{ post.pk }}">{{ post.title_news | censor }}</a></td>
                    <td>{{ post.autor_id.user }}</td>
                    <td>{{ post.date_time | date:'d M Y' }}</td>
                    <td>{{ post.type }}</td>
                    <td>{{ post.text_news | truncatewords:20 | censor }}</td>
                    <td>{{ post.rating_post }}</td>
                </tr>
                {% endfor %}
            </table>

        {% else %}
        <h2>По вашему запросу ничего не найдено!</h2>
        {% endif%}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}